@page "/Generos/crear"

<h3>CrearGenero</h3>

<FormularioGenero OnValidSubmit="Crear" genero="genero"/>

@code {
    private Genero genero=new Genero();
    private void Crear()
    {
        Console.WriteLine("Ejecutando metodo guardar");
        Console.WriteLine($"nombre del genero{genero.Nombre}");
    }
}
