@page "/Generos/editar/{GeneroId:int}"
@inject IRepositorio repositorio
@inject IMostrarMensajes mostrarMensajes
@inject NavigationManager navigationManager
<h3>EditarGenero</h3>

@if (genero==null)
{
    <text>Cargando...</text>
}
else
{
<FormularioGenero OnValidSubmit="Editar" genero="genero" />
}


@code {
    [Parameter] public int GeneroId { get; set; }
    private Genero genero;

    protected async override Task OnInitializedAsync()
    {
        var httpResponse = await repositorio.Get<Genero>($"api/generos/{GeneroId}");
        if (httpResponse.Error)
        {
            if (httpResponse.HttpResponseMessage.StatusCode == System.Net.HttpStatusCode.NotFound)
            {
                navigationManager.NavigateTo("/generos");
            }
            else
            {
                await mostrarMensajes.MostrarMensajeError(await httpResponse.GetBody());
            }
        }
        else
        {
            genero = httpResponse.Response;
        }
    }

    private async Task Editar()
    {
        var httpResponse = await repositorio.Put<Genero>("api/generos", genero);
        if (httpResponse.Error)
        {
            await mostrarMensajes.MostrarMensajeError(await httpResponse.GetBody());

        }
        else
        {
                navigationManager.NavigateTo("/generos");
        }
    }

}
