@page "/"



<div>
    <h3>Peliculas</h3>

    <ListadoPeliculas Peliculas="ObtenerPeliculas()" />

</div>

<div>
    <h2>Crear nueva pelicula</h2>
    <EjemploTextbox placeholder="placeholder Index" />
</div>


@code {
    string nombre = "Felipe";

    private Dictionary<string, object> EjemploTextboxParametros = new Dictionary<string, object>()
    {
        {"placeholder","nuevo placeholder 2"},
        {"disabled","true"}
    };

    public Pelicula SpiderMan { get { return ObtenerPelicula(); } }

    private List<Pelicula> ObtenerPeliculas()
    {
        return new List<Pelicula>
        {
            new Pelicula(){Titulo="Spider-Man: Far away home",Lanzamiento = new DateTime(2019, 11, 2)},
            new Pelicula(){Titulo="Moana",Lanzamiento = new DateTime(2001,10,15)},
            new Pelicula(){Titulo="Inception",Lanzamiento = new DateTime(2006, 12, 20)}
        };
    }


    private Pelicula ObtenerPelicula()
    {
        return new Pelicula()
            {
                Titulo = "Spider-Man: Far away home",
                Lanzamiento = new DateTime(2019, 11, 2),
            };
    }

    private void ManejarClick()
    {
        Console.WriteLine("me han clicleado desde metodo");
    }
}